/*
 * Created by Carlos Marra
 * User: loslambda, los_lambdas
 * For: snapgrow/homepage styles
 * License: Wooter LLC.
 * Date: 2016.03.18
 * Description: videos tab in league dashboard
 *
 */
/*
 * Created by Carlos Marra
 * User: loslambda, los_lambdas
 * For: snapgrow/all styles
 * License: Wooter LLC.
 * Date: 2016.03.18
 * Description: videos tab in league dashboard
 *
 */
.clear {
  clear: both; }

.hide {
  display: none; }

.snapgrow_header {
  height: 64px;
  width: 100%;
  background-color: #212121;
  box-shadow: 0px 1px 1px 0px #313131;
  position: absolute;
  z-index: 1000; }
  .snapgrow_header .snapgrow_hamburger {
    position: absolute;
    left: 31px;
    z-index: 2;
    display: none; }
    @media only screen and (max-width: 959px) {
      .snapgrow_header .snapgrow_hamburger {
        display: block !important; } }
    @media only screen and (max-width: 399px) {
      .snapgrow_header .snapgrow_hamburger {
        left: 20px; } }
    .snapgrow_header .snapgrow_hamburger p {
      font-size: 22px;
      height: 64px;
      padding: 22px 0px;
      margin: 0px;
      color: rgba(255, 255, 255, 0.6); }
  .snapgrow_header .snapgrow_logo {
    position: absolute;
    left: 31px;
    z-index: 1; }
    @media only screen and (max-width: 959px) {
      .snapgrow_header .snapgrow_logo {
        left: 0px;
        width: 100%; } }
    .snapgrow_header .snapgrow_logo p {
      margin: 0px; }
      @media only screen and (max-width: 959px) {
        .snapgrow_header .snapgrow_logo p {
          left: 0px;
          width: 100%;
          text-align: center; } }
      .snapgrow_header .snapgrow_logo p a img {
        height: 64px;
        padding: 6px 0px 9px; }
  .snapgrow_header .snapgrow_links {
    position: absolute;
    right: 15px; }
    @media only screen and (max-width: 959px) {
      .snapgrow_header .snapgrow_links {
        display: none !important; } }
    .snapgrow_header .snapgrow_links ul {
      margin: 0px;
      height: 64px;
      padding: 23px 0px; }
      .snapgrow_header .snapgrow_links ul li {
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        padding: 0px 15px;
        font-size: 14px;
        font-weight: 700; }
        .snapgrow_header .snapgrow_links ul li a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.6); }
        .snapgrow_header .snapgrow_links ul li a:hover {
          text-decoration: none;
          color: white; }

.snapgrow_mobile_header {
  position: fixed;
  top: -136px;
  left: 0;
  width: 100%;
  background: #212121;
  box-shadow: 0px 1px 1px 0px #303030;
  z-index: 999; }
  .snapgrow_mobile_header .snapgrow_links ul {
    width: 100%;
    padding: 0px;
    margin: 0px; }
    .snapgrow_mobile_header .snapgrow_links ul li {
      display: block;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      padding: 15px 15px;
      font-size: 14px;
      height: 64px;
      font-weight: 700; }
      .snapgrow_mobile_header .snapgrow_links ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6); }
      .snapgrow_mobile_header .snapgrow_links ul li a:hover {
        text-decoration: none;
        color: white; }

@-webkit-keyframes mobile_dropdown {
  0% {
    top: -256px; }
  100% {
    top: 64px; } }
@-moz-keyframes mobile_dropdown {
  0% {
    top: -256px; }
  100% {
    top: 64px; } }
@-o-keyframes mobile_dropdown {
  0% {
    top: -256px; }
  100% {
    top: 64px; } }
@keyframes mobile_dropdown {
  0% {
    top: -256px; }
  100% {
    top: 64px; } }
.dropdown {
  -webkit-animation: mobile_dropdown .5s;
  /* Safari 4+ */
  -moz-animation: mobile_dropdown .5s;
  /* Fx 5+ */
  -o-animation: mobile_dropdown .5s;
  /* Opera 12+ */
  animation: mobile_dropdown .5s;
  /* IE 10+, Fx 29+ */
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes mobile_dropup {
  0% {
    top: 64px; }
  100% {
    top: -256px; } }
@-moz-keyframes mobile_dropup {
  0% {
    top: 64px; }
  100% {
    top: -256px; } }
@-o-keyframes mobile_dropup {
  0% {
    top: 64px; }
  100% {
    top: -256px; } }
@keyframes mobile_dropup {
  0% {
    top: 64px; }
  100% {
    top: -256px; } }
.dropup {
  -webkit-animation: mobile_dropup .5s;
  /* Safari 4+ */
  -moz-animation: mobile_dropup .5s;
  /* Fx 5+ */
  -o-animation: mobile_dropup .5s;
  /* Opera 12+ */
  animation: mobile_dropup .5s;
  /* IE 10+, Fx 29+ */
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.snapgrow_footer {
  height: 64px;
  width: 100%;
  background-color: #212121;
  box-shadow: 0px 1px 1px 0px #313131;
  position: relative;
  bottom: 0;
  z-index: 1000; }
  @media only screen and (max-width: 1169px) {
    .snapgrow_footer {
      height: 128px; } }
  @media only screen and (max-width: 499px) {
    .snapgrow_footer {
      height: 140px; } }
  @media only screen and (max-width: 399px) {
    .snapgrow_footer {
      height: 240px; } }
  .snapgrow_footer .snapgrow_copyright {
    position: absolute;
    height: 64px;
    left: 180px; }
    @media only screen and (max-width: 1169px) {
      .snapgrow_footer .snapgrow_copyright {
        width: 306px;
        margin: 0 calc(50% - 153px);
        left: 0; } }
    @media only screen and (max-width: 499px) {
      .snapgrow_footer .snapgrow_copyright {
        width: 50%;
        margin: 20px 0px;
        float: left; } }
    @media only screen and (max-width: 399px) {
      .snapgrow_footer .snapgrow_copyright {
        width: 100%;
        margin: 10px 0px; } }
    .snapgrow_footer .snapgrow_copyright a {
      float: left; }
      .snapgrow_footer .snapgrow_copyright a img {
        height: 64px;
        padding: 9px 0px; }
      @media only screen and (max-width: 499px) {
        .snapgrow_footer .snapgrow_copyright a {
          width: 100%;
          margin: 0;
          left: 0;
          text-align: center; } }
    .snapgrow_footer .snapgrow_copyright p {
      float: left;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
      height: 64px;
      padding: 22px 0px 22px 5px;
      margin: 0px;
      font-weight: 500; }
      @media only screen and (max-width: 499px) {
        .snapgrow_footer .snapgrow_copyright p {
          width: 100%;
          margin: 0px;
          left: 0;
          text-align: center;
          padding: 11px 0px; } }
  .snapgrow_footer .snapgrow_footer_links {
    position: absolute;
    right: 160px;
    height: 64px;
    z-index: 999; }
    @media only screen and (max-width: 1169px) {
      .snapgrow_footer .snapgrow_footer_links {
        width: 488px;
        margin: 64px calc(50% - 255px) 0px;
        right: 0; } }
    @media only screen and (max-width: 499px) {
      .snapgrow_footer .snapgrow_footer_links {
        width: 50%;
        margin: 0px 0px 0px;
        float: left; } }
    @media only screen and (max-width: 399px) {
      .snapgrow_footer .snapgrow_footer_links {
        width: 100%;
        margin: 100px 0px 0px; } }
    .snapgrow_footer .snapgrow_footer_links ul {
      margin: 0px;
      padding: 10px 0px;
      height: 64px; }
      @media only screen and (max-width: 499px) {
        .snapgrow_footer .snapgrow_footer_links ul {
          width: 100%;
          margin: 0px 0px 0px;
          right: 0;
          text-align: center; } }
      .snapgrow_footer .snapgrow_footer_links ul li {
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        padding: 0px 10px;
        font-size: 13px;
        font-weight: 500; }
        @media only screen and (max-width: 499px) {
          .snapgrow_footer .snapgrow_footer_links ul li {
            padding: 11px 0px;
            width: 100%;
            text-align: center; } }
        .snapgrow_footer .snapgrow_footer_links ul li a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.6); }
          @media only screen and (max-width: 499px) {
            .snapgrow_footer .snapgrow_footer_links ul li a {
              margin: 64px 0px 0px;
              right: 0;
              text-align: center; } }
        .snapgrow_footer .snapgrow_footer_links ul li a:hover {
          text-decoration: none;
          color: white; }
        .snapgrow_footer .snapgrow_footer_links ul li p {
          font-size: 24px;
          font-weight: 300; }
          @media only screen and (max-width: 499px) {
            .snapgrow_footer .snapgrow_footer_links ul li p {
              display: none;
              margin: 0px !important; } }

.hero_image {
  height: 592px;
  width: 100%;
  position: relative;
  background-size: cover !important; }
  @media only screen and (max-width: 1359px) {
    .hero_image {
      height: 450px; } }
  .hero_image .hero_text {
    position: absolute;
    z-index: 10;
    top: calc(50% - 32px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 599px) {
      .hero_image .hero_text {
        width: 300px; } }
    .hero_image .hero_text h1, .hero_image .hero_text p {
      text-align: center;
      color: white; }
      @media only screen and (max-width: 599px) {
        .hero_image .hero_text h1 br, .hero_image .hero_text p br {
          display: none !important; } }
    .hero_image .hero_text h1 {
      font-size: 48px;
      margin: 0px 0px 40px; }
    .hero_image .hero_text p {
      font-size: 18px;
      margin: 0px 0px 5px; }
    .hero_image .hero_text button {
      width: 120px;
      margin: 50px calc(50% - 60px) 0px; }

.white_space {
  background: #f5f5f5;
  width: 100%;
  position: relative; }
  .white_space .white_popup {
    position: absolute;
    max-width: 1080px;
    width: 1080px;
    top: -64px;
    margin: 0 calc(50% - 540px);
    background: white; }

.black_space {
  background: #303030;
  width: 100%;
  position: relative; }
  .black_space .black_popup {
    top: calc(50% - 32px;);
    background: #303030; }

.yellow_btn {
  border: none;
  color: #212000;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #fffb01;
  text-transform: uppercase;
  outline: none;
  font-weight: 500; }

.yellow_btn:focus {
  outline: 0 !important; }

.white_button {
  background: #f5f5f5; }
  .white_button p {
    padding: 6px 0px 70px;
    margin: 0px;
    text-align: center; }

.white_separator_origin {
  background: #f5f5f5;
  width: 100%;
  position: relative; }
  .white_separator_origin .white_separator_2 {
    position: absolute;
    max-width: 1080px;
    width: 1080px;
    top: -64px;
    margin: 0 calc(50% - 540px);
    background: transparent; }
    .white_separator_origin .white_separator_2 .white_separator_left,
    .white_separator_origin .white_separator_2 .white_separator_right {
      width: 525px;
      background: white;
      float: left; }
      @media only screen and (max-width: 1359px) {
        .white_separator_origin .white_separator_2 .white_separator_left,
        .white_separator_origin .white_separator_2 .white_separator_right {
          width: 465px !important; } }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_2 .white_separator_left,
        .white_separator_origin .white_separator_2 .white_separator_right {
          width: 600px !important; } }
      @media only screen and (max-width: 599px) {
        .white_separator_origin .white_separator_2 .white_separator_left,
        .white_separator_origin .white_separator_2 .white_separator_right {
          width: 300px !important; } }
    .white_separator_origin .white_separator_2 .white_separator_left {
      margin-right: 15px; }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_2 .white_separator_left {
          margin-right: 0px; } }
    .white_separator_origin .white_separator_2 .white_separator_right {
      margin-left: 15px; }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_2 .white_separator_right {
          margin-left: 0px;
          margin-top: 37px; } }
  .white_separator_origin .white_separator_3 {
    position: absolute;
    max-width: 1080px;
    width: 1080px;
    top: -64px;
    margin: 0 calc(50% - 540px);
    background: transparent; }
    .white_separator_origin .white_separator_3 .white_separator_left,
    .white_separator_origin .white_separator_3 .white_separator_right {
      width: 352.5px;
      background: white;
      float: left; }
      @media only screen and (max-width: 1359px) {
        .white_separator_origin .white_separator_3 .white_separator_left,
        .white_separator_origin .white_separator_3 .white_separator_right {
          width: 310px; } }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_3 .white_separator_left,
        .white_separator_origin .white_separator_3 .white_separator_right {
          width: 600px; } }
      @media only screen and (max-width: 599px) {
        .white_separator_origin .white_separator_3 .white_separator_left,
        .white_separator_origin .white_separator_3 .white_separator_right {
          width: 300px; } }
    .white_separator_origin .white_separator_3 .white_separator_left {
      margin-right: 7.5px; }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_3 .white_separator_left {
          margin: 0px 0px; } }
    .white_separator_origin .white_separator_3 .white_separator_center {
      width: 345px;
      background: white;
      float: left;
      margin: 0 7.5px; }
      @media only screen and (max-width: 1359px) {
        .white_separator_origin .white_separator_3 .white_separator_center {
          width: 310px; } }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_3 .white_separator_center {
          width: 600px;
          margin: 30px 0px 0px; } }
      @media only screen and (max-width: 599px) {
        .white_separator_origin .white_separator_3 .white_separator_center {
          width: 300px; } }
    .white_separator_origin .white_separator_3 .white_separator_right {
      margin-left: 7.5px; }
      @media only screen and (max-width: 959px) {
        .white_separator_origin .white_separator_3 .white_separator_right {
          margin: 30px 0px 0px; } }

.question {
  padding: 48px 0px 48px; }
  .question .business {
    margin: 0px 0px 48px;
    padding: 0px 15px; }
    .question .business p {
      font-size: 24px;
      color: white;
      text-align: center;
      font-weight: 600; }
  .question button {
    width: 124px;
    margin: 0px calc(50% - 62px); }

.hero_image {
  background: url("/img/snapgrow/hero-test.png") center center fixed;
  background-size: cover !important; }

@media only screen and (max-width: 1359px) {
  .strategy {
    max-width: 960px !important;
    width: 960px !important;
    margin: 0 calc(50% - 480px) !important; } }
@media only screen and (max-width: 959px) {
  .strategy {
    max-width: 600px !important;
    width: 600px !important;
    margin: 0 calc(50% - 300px) !important; } }
@media only screen and (max-width: 599px) {
  .strategy {
    max-width: 300px !important;
    width: 300px !important;
    margin: 0 calc(50% - 150px) !important; } }

.pricing_text h1 {
  font-size: 24px;
  color: #212121;
  text-align: center;
  margin: 30px 0px; }
.pricing_text .custom_hr {
  width: 50px;
  height: 2px;
  margin: 0 calc(50% - 25px) 30px;
  background: rgba(0, 0, 0, 0.25); }
.pricing_text p {
  text-align: center;
  font-size: 18px;
  padding: 0px 185px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 32px; }

.pricing_image_center {
  width: 100%;
  padding: 0px 7.5px;
  float: left;
  position: relative;
  margin-top: 20px; }
  .pricing_image_center img {
    width: 54px;
    margin: 0 calc(50% - 27px);
    margin-bottom: 5px; }
  .pricing_image_center .social_label {
    color: #212121;
    font-weight: 500; }
  .pricing_image_center p {
    width: 210px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.8; }
  .pricing_image_center .red_number {
    font-size: 24px;
    font-weight: 500;
    color: #ef5653;
    font-weight: 700; }

.pricing_image_right .special {
  margin-bottom: 32px; }

.white_half {
  max-width: 1080px;
  width: 1080px; }
  @media only screen and (max-width: 1359px) {
    .white_half {
      max-width: 960px !important;
      width: 960px !important;
      margin: 0 calc(50% - 480px) !important; } }
  @media only screen and (max-width: 959px) {
    .white_half {
      max-width: 600px !important;
      width: 600px !important;
      margin: 0 calc(50% - 300px) !important; } }
  @media only screen and (max-width: 599px) {
    .white_half {
      max-width: 300px !important;
      width: 300px !important;
      margin: 0 calc(50% - 150px) !important; } }
  .white_half .white_left,
  .white_half .white_right {
    width: 529px;
    background: white;
    float: left; }
    @media only screen and (max-width: 1359px) {
      .white_half .white_left,
      .white_half .white_right {
        width: 469px !important; } }
    @media only screen and (max-width: 959px) {
      .white_half .white_left,
      .white_half .white_right {
        width: 570px !important; } }
    @media only screen and (max-width: 599px) {
      .white_half .white_left,
      .white_half .white_right {
        width: 300px !important; } }
  .white_half .separator {
    width: 2px;
    height: 450px;
    background: #f5f5f5;
    float: left;
    margin: 55px 0px; }
    @media only screen and (max-width: 959px) {
      .white_half .separator {
        display: none !important; } }
  .white_half .white_left {
    margin-right: 10px; }
    @media only screen and (max-width: 959px) {
      .white_half .white_left {
        margin-right: 0px;
        margin-bottom: 40px; } }
    .white_half .white_left .pricing_text h1 {
      font-size: 24px;
      color: #212121;
      text-align: center;
      margin: 30px 0px; }
    .white_half .white_left .pricing_text .custom_hr {
      width: 50px;
      height: 2px;
      margin: 0 calc(50% - 25px) 30px;
      background: rgba(0, 0, 0, 0.25); }
    .white_half .white_left .pricing_text p {
      text-align: left;
      font-size: 18px;
      padding: 0px  70px;
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 32px; }
      @media only screen and (max-width: 1359px) {
        .white_half .white_left .pricing_text p {
          padding: 0px  60px; } }
      @media only screen and (max-width: 599px) {
        .white_half .white_left .pricing_text p {
          padding: 0px  25px; } }
    .white_half .white_left .pricing_text ul {
      padding: 0px;
      padding: 0px 100px;
      margin: 0px;
      margin-bottom: 32px; }
      @media only screen and (max-width: 1359px) {
        .white_half .white_left .pricing_text ul {
          padding-left: 100px; } }
      @media only screen and (max-width: 959px) {
        .white_half .white_left .pricing_text ul {
          padding-left: 150px; } }
      @media only screen and (max-width: 599px) {
        .white_half .white_left .pricing_text ul {
          padding-left: 70px;
          padding-right: 70px; } }
      .white_half .white_left .pricing_text ul li {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.54); }
    .white_half .white_left .white_center {
      width: 100%;
      padding: 0px 7.5px;
      float: left;
      position: relative;
      margin-top: 20px; }
      .white_half .white_left .white_center img {
        width: 54px;
        margin: 0 calc(50% - 27px);
        margin-bottom: 5px; }
      .white_half .white_left .white_center .social_label {
        color: #212121;
        font-weight: 500; }
      .white_half .white_left .white_center p {
        width: 210px;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.8; }
  .white_half .white_right {
    margin-left: 10px; }
    @media only screen and (max-width: 959px) {
      .white_half .white_right {
        margin-left: 0px;
        margin-top: 40px; } }
    .white_half .white_right h1 {
      font-size: 24px;
      color: #212121;
      text-align: center;
      margin: 30px 0px 0px; }
      @media only screen and (max-width: 959px) {
        .white_half .white_right h1 {
          padding: 0 15px; } }
      @media only screen and (max-width: 599px) {
        .white_half .white_right h1 br {
          display: none !important; } }
    .white_half .white_right .custom_hr {
      width: 50px;
      height: 2px;
      margin: 30px calc(50% - 25px) 30px;
      background: rgba(0, 0, 0, 0.25); }

.strategy .padding {
  padding: 20px 0px; }
  .strategy .padding .pricing_sale p {
    width: 100%;
    margin: 0px auto 48px;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6); }
  .strategy .padding .pricing_sale .red_number {
    font-size: 24px;
    font-weight: 500;
    color: #ef5653;
    font-weight: 700; }
  .strategy .padding button {
    width: 92px;
    margin: 0px calc(50% - 46px) 0px; }

form {
  margin: 60px 0px 40px; }
  form .selection {
    position: relative;
    width: 100%;
    height: 79px;
    padding: 0px 0px 10px 0px; }
    form .selection label {
      position: absolute;
      z-index: 1;
      left: 15%;
      color: rgba(0, 0, 0, 0.54);
      font-size: 18px;
      top: -8px;
      font-weight: 500;
      -webkit-transition: top .25s;
      transition: top .25s;
      -webkit-transition: font-size .25s;
      transition: font-size .25s;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    form .selection input:focus {
      border-bottom: 1px solid blue;
      color: rgba(0, 0, 0, 0.54); }
    form .selection input {
      position: absolute;
      z-index: 2;
      border-bottom: 1px solid #eee;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      width: 70%;
      margin: 0 15%;
      outline: none;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.54); }
    form .selection .label_change {
      top: -20px !important;
      font-size: 12px !important; }
  form button {
    width: 100px;
    margin: 0 calc(50% - 50px); }

.level {
  padding: 48px 0px 24px !important; }

.followers {
  padding: 48px 0px 96px;
  width: 100%; }
  .followers .people {
    width: 75px;
    margin: 0 auto;
    padding: 0px 0px 40px; }
    .followers .people img {
      width: 75px; }
  .followers .build h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 0px 0px 30px; }
  .followers .build p {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px; }
    @media only screen and (max-width: 959px) {
      .followers .build p {
        padding: 0 15px; } }
    @media only screen and (max-width: 959px) {
      .followers .build p br {
        display: none !important; } }

/*# sourceMappingURL=consult.css.map */
