<div class="hero_image">
	<div class="transparent">
		<div class="hero_text">
			<h1>Organized Sports Amplified</h1>
			<p>The best leagues with <strong>stats, videos</strong> and <strong>media coverage</strong> just 
			<br>like the pros. At Wooter, gametime is <strong>showtime.</strong><p>

			<div class="app_buttons">
				<a href="https://itunes.apple.com/us/app/wooter/id1094798609?mt=8" target='_blank'><img src="img/landings/home-app1.png" alt=""></a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<div class="black_space" style='background: #f5f5f5;'>
	<div class="black_popup commissioners" style='background: #f5f5f5;'>
		<div class="image">
			<img src="/img/landings/man.png" alt="">
		</div>
		<div class="faq">
			<p>Join A League</p>
		</div>
	</div>
</div>

<div class="white_separator_origin space_one" style="padding-bottom: 48px;">
	<div class="white_separator_3 popup_one">		
		<div class="ws_margin ">
			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Wooter NYC Premier League<br><span>Baruch College, Manhattan, NY - (Ages 17+)<span></p>
	        		</div>
	        	</div>

				<div class="league">
					<img src="/img/landings/home-leagues2.jpg" alt="">
				</div>
				<div class="white_info">
	        		<p class='ls_left'>League Starts: June 16th</p>
	        		<p class='ls_right'><a class='signup_button' target='_blank' href="https://wooterleague.eventbrite.com">JOIN NOW</a></p>
	        		<div class="clear"></div>
				</div>
			</div>
		
			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Pacplex Streetball 3v3 Youth League<br><span>Brooklyn, NY - (Ages 13-17)<span></p>
	        		</div>
	        	</div>

				<div class="league">
					<img src="/img/landings/home-leagues12.jpg" alt="">
				</div>
				<div class="white_info">
	        		<p class='ls_left'>League Starts: July 5th</p>
	        		<p class='ls_right'><a class='signup_button' target='_blank' href="https://airtable.com/shrr8SsT9yBpAPmgA">JOIN NOW</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Pacplex Streetball 3v3 Men's League<br><span>Brooklyn, NY - (Ages 18+)<span></p>
	        		</div>
	        	</div>

				<div class="league">
					<img src="/img/landings/home-leagues3.jpg" alt="">
				</div>
				<div class="white_info">
	        		<p class='ls_left'>League Starts: July 6th</p>
	        		<p class='ls_right'><a class='signup_button' target='_blank' href="https://airtable.com/shrpc7IXUkuLSJcSD">JOIN NOW</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Dream Leagues Men's Summer League<br><span>Staten Island, NY - (Ages 17+)<span></p>
	        		</div>
	        	</div>

				<div class="league">
					<img src="/img/landings/home-leagues4.jpg" alt="">
				</div>
				<div class="white_info">
	        		<p class='ls_left'>League Starts: July 13th</p>
	        		<p class='ls_right'><a class='signup_button' target='_blank' href="https://airtable.com/shrkJyYzwuiWhpVua">JOIN NOW</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Baller Nation<br><span>Queens, NY - (Ages 18+)<span></p>
	        		</div>
	        	</div>

				<div class="league">
					<img src="/img/landings/home-leagues11.jpg" alt="">
				</div>
				<div class="white_info">
	        		<p class='ls_left'>League Starts: August 26th</p>
	        		<p class='ls_right'><a class='signup_button' target='_blank' href="https://wooter.co/ballernation">JOIN NOW</a></p>
	        		<div class="clear"></div>
				</div>
			</div>		



			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

<div class="black_space">
	<div class="black_popup athletes">

		<div class="statement">
			<h1>Do you run a sports league?</h1>
			<p>Wooter has everything to manage and grow your league <br>
			There isn’t anything else like it</p>
		</div>

		<div class="red_pics" style='margin-top: 0px;'>
			<div class="image">
				<img src="/img/landings/home-icon1.png" alt="">
			</div>
			<div class="faq">
				<h1>League Services</h1>
				<p>Stats, video and full coverage <br>for your sports league or tournament.</p>
				<p><a class='signup_button' target='_blank' href="http://wooter.co/dreamleagues">LEARN MORE</a></p>
			</div>			
		</div>
		<div class="red_pics">
			<div class="image">
				<img src="/img/landings/home-icon2.png" alt="">
			</div>
			<div class="faq">
				<h1>Apparel</h1>
				<p>Custom team uniforms and sports <br>apparel at unbeatable prices.</p>
				<p><a class='signup_button' target='_blank' href="http://wooterapparel.com">LEARN MORE</a></p>
			</div>			
		</div>
		<div class="red_pics">
			<div class="image">
				<img src="/img/landings/home-icon3.png" alt="">
			</div>
			<div class="faq">
				<h1>Software</h1>
				<p>Mobile and desktop apps to start and <br>run your sports organization like a boss.</p>
				<p><a class='signup_button' target='_blank' href="https://wooter.co/leagues">LEARN MORE</a></p>
			</div>			
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="black_space" style='background: #f5f5f5;'>
	<div class="black_popup commissioners" style='background: #f5f5f5;'>
		<div class="image">
			<img src="/img/landings/man.png" alt="">
		</div>
		<div class="faq">
			<p>Active Leagues</p>
		</div>
	</div>
</div>

<div class="white_separator_origin space_two" style="padding-bottom: 48px;">
	<div class="white_separator_3 popup_two">		
		<div class="ws_margin ">
	

      <div class="ws md-whiteframe-4dp">
            <div class='league_results'>
              <div class='league_desc' style=''>
                <p>Dream Leagues GOLD<br><span>Fastbreak Center, Staten Island, NY<span></p>
              </div>
            </div>
        <div class="league">
          <img src="/img/landings/home-leagues15.jpg" alt="">
        </div>
        <div class="white_info2">
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4979/schedule">Schedule</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4979/scoreboard">Stats</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4979/standings">Standings</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4979/videos">Videos</a></p>
              <div class="clear"></div>
        </div>
      </div>

      <div class="ws md-whiteframe-4dp">
            <div class='league_results'>
              <div class='league_desc' style=''>
                <p>Dream Leagues PURPLE<br><span>Fastbreak Center, Staten Island, NY<span></p>
              </div>
            </div>
        <div class="league">
          <img src="/img/landings/home-leagues16.jpg" alt="">
        </div>
        <div class="white_info2">
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4980/schedule">Schedule</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4980/scoreboard">Stats</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4980/standings">Standings</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4980/videos">Videos</a></p>
              <div class="clear"></div>
        </div>
      </div>

      <div class="ws md-whiteframe-4dp">
            <div class='league_results'>
              <div class='league_desc' style=''>
                <p>Wooter Elite NYC Tournament<br><span>Staten Island, NY<span></p>
              </div>
            </div>
        <div class="league">
          <img src="/img/landings/home-leagues13.jpg" alt="">
        </div>
        <div class="white_info2">
              <p class='ls_quarter visible'>Schedule</p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4976/scoreboard">Stats</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4976/standings">Standings</a></p>
              <p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4976/videos">Videos</a></p>
              <div class="clear"></div>
        </div>
      </div>  

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Dream Leagues 8.5ft Winter Season<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues9.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter visible'>Schedule</p>
	        		<p class='ls_quarter visible'>Stats</p>
	        		<p class='ls_quarter visible'>Standings</p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4547/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Dream Leagues Men's League<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues8.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4894/schedule">Schedule</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4894/scoreboard">Stats</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4894/standings">Standings</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4894/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Simba League A Division<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues5.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4889/schedule">Schedule</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4889/scoreboard">Stats</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4889/standings">Standings</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4889/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Simba League B Division<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues6.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4957/schedule">Schedule</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4957/scoreboard">Stats</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4957/standings">Standings</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4957/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>Simba League C Division<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues7.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4958/schedule">Schedule</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4958/scoreboard">Stats</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4958/standings">Standings</a></p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4958/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>JFK Softball - Hylan Division<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues10.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter visible'>Schedule</p>
	        		<p class='ls_quarter visible'>Stats</p>
	        		<p class='ls_quarter visible'>Standings</p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4970/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="ws md-whiteframe-4dp">
	        	<div class='league_results'>
	        		<div class='league_desc' style=''>
	        			<p>JFK Softball - Richmond Division<br><span>Staten Island, NY<span></p>
	        		</div>
	        	</div>
				<div class="league">
					<img src="/img/landings/home-leagues14.jpg" alt="">
				</div>
				<div class="white_info2">
	        		<p class='ls_quarter visible'>Schedule</p>
	        		<p class='ls_quarter visible'>Stats</p>
	        		<p class='ls_quarter visible'>Standings</p>
	        		<p class='ls_quarter'><a target='_blank' href="https://wooter.co/leaguehub/4607/videos">Videos</a></p>
	        		<div class="clear"></div>
				</div>
			</div>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>