<div class="hero_image">
	<div class="hero_text">
		<h1>Wooter Referees</h1>
		<p>Hiring referees for your league is easy and affordable.</p>
		<p>Reach out to get a quote today!</p>
		<!-- <a href="#"><button class="yellow_btn md-whiteframe-4dp" data-toggle="modal" data-target="#myModal2">Get A Quote</button></a> -->
		<!-- <a href='#' style='text-align: center'> -->
		<p style='text-align: center;'>
			<md-button class='md-raised wooter-btn-primary' aria-label='get a quote' ng-click='openRefModal(ev)'>get a quote</md-button>
		</p>
		<!-- </a> -->
	</div>
</div>

<div class="black_space">
	<div class="black_popup commissioners">
		<div class="red_pics">
			<div class="image">
				<img src="/img/landings/medals.png" alt="">
			</div>
			<div class="faq">
				<p>Certified</p>
			</div>			
		</div>
		<div class="red_pics">
			<div class="image">
				<img src="/img/landings/hearts.png" alt="">
			</div>
			<div class="faq">
				<p>Reliable</p>
			</div>			
		</div>
		<div class="red_pics">
			<div class="image">
				<img src="/img/landings/moneybags.png" alt="">
			</div>
			<div class="faq">
				<p>Affordable</p>
			</div>			
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="white_space space_one" id='ref_white_space'>
	<div class="white_popup md-whiteframe-4dp strategy popup_one">
		<div class="pricing_text">
			<h1>Any Sport Any Time</h1>
			<p>We have highly trained refs for</p>
   			<p>dozens of different sports.</p>
			<div class='custom_hr'></div>		
		</div>

		<div class='sports_list'>
			<p>Basketball</p>
			<p>Volleyball</p>
			<p>Boxing</p>
			<p>Football</p>
			<p>Baseball</p>
			<p>Tennis</p>
			<p>Soccer</p>
			<p>Softball</p>
			<p>...& more!</p>
			<div class="clear"></div>
		</div>

		<div class="pricing_subtext">
			<div class='custom_hr'></div>
			<p>Just click “Get A Quote”  and take a minute to fill out the form. <br>
			We will contact you shortly after to walk you through everything.</p>
		</div>
	</div>
</div>

<div class="white_button">
	<p><a href="#"><button class='yellow_btn md-whiteframe-4dp' data-toggle="modal" data-target="#myModal2">Get A Quote</button></a></p>
</div>
