

<div class="row relative-position">

    <div class="col-sm-12 w-65 map-holder item-list-view pad-left-0 pad-right-0" id="searchContainer">
        <md-button ng-hide="!courts.selectedItem" class="show-list-button md-raised" ng-click="courts.showList()"><md-icon>keyboard_backspace</md-icon></md-button>
        <div class="row md-whiteframe-3dp clearfix md-block" style="position: relative;z-index: 20;" ng-hide="courts.selectedItem" >
            <div class="filters">
                <div layout-gt-xs="column" layout-gt-md="row" class="md-inline-form">
                    <div flex-gt-md="15" flex-gt-xs="100">
                        <md-input-container class="md-block">
                            <label>Zip Code</label>
                            <input class="md-block" ng-model="search.court_data.zip">
                        </md-input-container>
                    </div>
                    <div flex-gt-md="15" flex-gt-xs="100"></div>

                    <div flex-gt-md="15" flex-gt-xs="100" class="md-dd-picker">
                        <label>Date</label>
                        <md-datepicker  class="md-block" ng-model="myDate"  md-min-date="courts.minDate" ng-click="ctrl.openCalendarPane($event)" ng-change="dateFilter()"></md-datepicker>
                    </div>
                    <div flex-gt-md="15" flex-gt-xs="100"></div>

                    <div flex-gt-md="15" flex-gt-xs="100">
                        <md-input-container class="md-block">
                            <label>Distance</label>
                            <md-select class="md-block" ng-model="distance">
                                <md-option ng-repeat="type in distance_array" value="{{type.value}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex-gt-md="15" flex-gt-xs="100"></div>
                    <div flex-gt-md="15" flex-gt-xs="100">
                        <md-input-container class="md-block">
                            <label>Court Type</label>
                            <md-select ng-model="search.court_data.court_privacy_type">
                                <md-option selected value="">All Types</md-option>
                                <md-option ng-repeat="type in privacy_type_array" value="{{type.value}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <h3 ng-if="gettingResult" style="padding-bottom: 10px;"><md-progress-circular md-mode="indeterminate"></md-progress-circular></h3>
        <h3 ng-if="totalItems==0 && gettingResult==false">No court found.</h3>
        <div class="row items-holder" style="position: relative;z-index: 10;" ng-hide="courts.selectedItem">
            <div class="md-block" style="padding: 10px 10px 8px 10px; text-align: center !important; width: 100%; " ng-show="courts.locationData.length">
                <span class="text-muted">Total {{totalItems}} Courts</span>
            </div>
            <!-- <div class="col-xs-12 pad-5 col-md-6" ng-repeat="item in (courts.filteredItems = (courts.items | CourtFilter:courts.searchObj))"> -->
            <div class="col-sm-12  pad-10 col-md-6" ng-repeat="item in filtered = courts.locationData | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <w-court click-action="courts.getDetails" ng-model="item" is-details="false"/>
            </div>
            <div class="row"></div>
            <div class="col-sm-12 text-center">
                <uib-pagination ng-show="courts.locationData.length" page="currentPage" total-items="totalItems" ng-model="currentPage" items-per-page="entryLimit" class="pagination-sm" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
            </div>
        </div>
        <div class="row pad-5 items-details-view" ng-show="courts.selectedItem">
            <w-court ng-model="courts.selectedItem" work-week="courts.selectedWorkWeek"  is-details="!!courts.selectedItem"/>
        </div>
    </div>

    <div id="map_wrapper" class=" col-sm-12 w-35 map-holder pad-left-0 pad-right-0 margin-bottom-5 pull-right">
        <div id="map_canvas" class="mapping" style="height:100%; width:100%"></div>
    </div>
</div>
