<footer class="footer margin-top-10">
  <div class="container-fluid container_footer">
    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-12 footer_logo">
        <div class="ft_logo">
          <a href="#/">
            <img alt="wooter" src="assets/images/footer-logo.png">
          </a>
        </div>
        <span>
          Discover the best sports<br>
          in your area.
        </span>
        <p class="copy_text">&copy; 2015 Wooter LLC</p>
      </div>

      <div class="col-md-2 col-sm-3 col-xs-6 company-list col_2_504">
        <h3>Company</h3>
        <ul>
          <li>
            <a href="#">Blog</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>

          <li>
            <a href="#">Press</a>
          </li>

          <li>
            <a href="#">Terms &amp; Conditions</a>
          </li>

          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-6 merchant-list col_2_504">
        <h3>Merchants</h3>
        <ul>
          <li>
            <a href="#">Leagues</a>
          </li>
          <li>
            <a href="#">Coaches</a>
          </li>
          <li>
            <a href="#">Courts</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 social-media">
        <h3>Follow Us</h3>
        <div class="social-links">
          <a class="fa fa-facebook circle-icon" href="#"></a>
          <a class="fa fa-twitter circle-icon" href="#"></a>
          <a class="fa fa-instagram circle-icon" href="#"></a>
          <a class="fa fa-google-plus circle-icon" href="#"></a>
        </div>
        <div class="social-links">
          <a class="fa fa-pinterest circle-icon" href="#"></a> 
          <a class="fa fa-linkedin circle-icon" href="#"></a> 
          <a class="fa fa-youtube circle-icon" href="#"></a> 
          <a class="fa fa-vine circle-icon" href="#"></a>
        </div>
        <p class="copy_text_mobile">&copy; 2015 Wooter LLC</p>
      </div>
    </div>
  </div>
</footer>
