<md-sidenav class="md-sidenav-left site_sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" hide-gt-sm show-md>

    <md-content layout="column">

        <ul>

            <li><md-button ng-href="" target="_blank"><div layout="row">Athletes<span flex></span> <span><md-icon md-svg-icon="/img/landing/header/arrow.svg"></md-icon></span></div></md-button></li>

            <li><md-button ng-href="" target="_blank"><span flex>Categories</span> <span></span></md-button></li>

            <li><md-button ng-href="" target="_blank"><span flex>Blog</span> <span></span></md-button></li>

            <li><md-button ng-href="" target="_blank"><span flex>Contact</span> <span></span></md-button></li>

        </ul>

    </md-content>

</md-sidenav>
