<div class="item-card text-cursor-pointer">
  <div class="item-body no-padding" ng-class="{'item-body-lg': isDetails}">
    <img ng-src="assets/images/{{item.img}}" class="img-responsive">
    <div class="pad-5">
      <p class="lead margin-bottom-1 text-primary">{{item.name}}</p>
      <span class="text-muted" tooltip="Item Slug"><i class="fa fa-tag"></i> {{item.slug}}</span>
      <span class="text-muted pull-right margin-right-2">age {{item.age}}</span>
      <span class="item-price-tag lead">${{item.price}}</span>
    </div>
  </div>
  <div class="item-footer text-muted text-normal" ng-show="!isDetails">
    <span tooltip="Timezone">
      <i class="fa fa-clock-o"></i> {{item.timezone}}
    </span>
    <span class="pull-right">
      <span class="margin-right-15">
        Gender: <i class="fa text-muted" ng-class="{'fa-venus-mars': item.gender === 'MF', 'fa-venus': item.gender === 'F', 'fa-mars': item.gender === 'M'}" tooltip="Allowed Gender: {{item.gender}}" tooltip-placement="left"></i>
      </span>
      <i class="fa fa-map-marker"></i> {{item.countryCode}} - {{item.distance}} miles
    </span>
  </div>
</div>
<div class="item-card" ng-show="isDetails">
  <div class="item-header">
    <h3 class="item-title text-primary margin-left-10 pad-top-15">About this place</h3>
  </div>
  <div class="item-body item-body-lg">
    <p>
      We offer services for <strong>{{item.age}}</strong> years and younger. We are operating at <strong>{{item.timezone}}</strong> timezone. We are open 8 hours a day, weekdays closed. We are active in <strong>{{item.provinceCode}}</strong> and we are <strong>{{item.distance}}</strong> miles far from you.
    </p>
    <p>
      We offer services for <strong>{{item.gender === 'MF' ? 'Both (M/F)' : ((item.gender === 'M' ? 'Male' : 'Female') + ' only')}}</strong>.
    </p>
  </div>
  <div class="item-footer text-muted text-normal text-center">
    Check out more about this place @ {{item.slug}}
  </div>
</div>
