/Homestead
/public/config/assets/app.json
/vendor
/vendor*
/report*
/node_modules
Homestead.yaml
Homestead.json
/.env
/.env~
/nbproject/private/
/.idea*
/.idea
.idea/
.idea
.idea/workspace.xml
Vagrantfile
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
/nbproject
/phpmyadmin
/formly-generator
*composer.lock
*views.cache.json
*prepros.cfg
/bower_components
.sass-cache/
/.sass-cache
.sass-cache/*
/public/upload
/public/newfile.txt
/storage/upload
/storage/assetic/*
