<div class="header">
    <p class="section-title">Videos</p>
</div>
<div class="section-content-holder" layout="row">
    <div class="video-slider">

        <div class="slider-holder" data-slides="{{ Slider.videos.slides }}"></div>

        <md-button aria-label="Slider control" class="control-button md-raised preview-slide md-fab slider-control" data-control="videos:prev"><md-icon>chevron_left</md-icon></md-button>
        <md-button aria-label="Slider control" class="control-button md-raised next-slide md-fab slider-control" data-control="videos:next"><md-icon>chevron_right</md-icon></md-button>
    </div>
</div>