<div id="player-password-editor">
    <div ng-show="show_main">
        <form id="player-password-editor-form">
            <h1>Change Password</h1>
            <ul>
                <li>
                    <input type="text" name="current_password" placeholder="Current Password">
                </li>
                <li>
                    <input type="text" name="new_password" placeholder="New Password">
                </li>
                <li>
                    <input type="text" name="new_password_confirmation" placeholder="Confirm New Password">
                </li>
                <li>
                    <button id="edit-password" ng-click="editPlayerPassword(); show_main = !show_main">Submit</button>
                </li>
                <li>
                    <button id="edit-cancel" ng-click="hideModal()">Cancel</button>
                </li>
            </ul>
        </form>
    </div>
    <div id="password-edit-success" ng-show="!show_main">
        <p>Success!</p>
        <button id="password-editor-close-btn" ng-click="hideModal(); show_main = !show_main">Close</button>
    </div>
</div>
