.photosslideshow_overlay{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
}

.leaguephotos_sildeshow {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
    align-content: center;
}

.leaguephotos_slideshow_item{
     padding: 10px;
}

.leaguephotos_item img{
    width: 100%;
    padding: 10px;
}

.fotorama_overlay_hide{
    display: none;
}

.fotorama_overlay_display{
    display: block;
}



