<md-dialog aria-label='addStats' style='width:80%; max-width: 1280px;' ng-init='popTeams()'>
    <md-toolbar style='background-color: white; color: black;'>
        <div class='md-toolbar-tools'>
            <h4>Scores</h4>
            <span flex></span>
            <md-button ng-click='' style='float: right;' class='md-raised wooter-btn-primary'>UPLOAD STATS</md-button>
            <md-button class='md-fab md-mini' ng-click='closeDialog()' style='background-color: white; color: grey;'> X </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style='padding-left: 0; padding-right: 0; width: 100%;'>
        <table style='width: 100%;'>
            <tr style='background-color: rgb(245, 245, 245); color: rgb(1, 1, 1, 0.541); height: 50px;'>
                <td>
                    <md-list>
                        <md-list-item>
                            Team
                        </md-list-item>
                    </md-list>
                </td>
                <td>
                    <md-list>
                        <md-list-item>
                            1st Half
                        </md-list-item>
                    </md-list>
                </td>
                <td>
                    <md-list>
                        <md-list-item>
                            2nd Half
                        </md-list-item>
                    </md-list>
                </td>
                <td>
                    <md-list>
                        <md-list-item>
                            Final
                        </md-list-item>
                    </md-list>
                </td>
            </tr>
            <tr ng-repeat='team in teams'>
                <td>
                    <md-list>
                        <md-list-item>
                            {{ team.name }}
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </td>
                <td>
                    <md-list>
                        <md-list-item>
                            <input type='number' style='width: 40px;'>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </td>
                <td>
                    <md-list>
                        <md-list-item>
                            <input type='number' style='width: 40px;'>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </td>
                <td>
                    <md-list>
                        <md-list-item>
                            <input type='number' style='width: 40px;'>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </td>
            </tr>
        </table>
        <table ng-repeat='teams in matchup.teams' style='width: 100%'>
            <md-list><md-list-item>
                <caption style='display: table-caption; color: black; font-weight: 400;'>{{ teams.name }}: Player Stats</caption>
            </md-list-item></md-list>
            <tr style='height: 40px; background-color: rgb(245, 245, 245);'>
                <md-list color: rgb(1, 1, 1, 0.541;>
                    <td><md-list-item>Active</md-list-item></td>
                    <td><md-list-item>#</md-list-item></td>
                    <td><md-list-item>Player</md-list-item></td>
                    <td><md-list-item>FGM</md-list-item></td>
                    <td><md-list-item>FGA</md-list-item></td>
                    <td><md-list-item>FTM</md-list-item></td>
                    <td><md-list-item>FTA</md-list-item></td>
                    <td><md-list-item>3PM</md-list-item></td>
                    <td><md-list-item>3PA</md-list-item></td>
                    <td><md-list-item>PTS</md-list-item></td>
                    <td><md-list-item>OFF</md-list-item></td>
                    <td><md-list-item>DEF</md-list-item></td>
                    <td><md-list-item>REB</md-list-item></td>
                    <td><md-list-item>AST</md-list-item></td>
                    <td><md-list-item>TO</md-list-item></td>
                    <td><md-list-item>STL</md-list-item></td>
                    <td><md-list-item>BLK</md-list-item></td>
                    <td><md-list-item>PF</md-list-item></td>
                </md-list>
            </tr>
            <tr ng-repeat='players in teams.players'>
                <md-list>
                    <td>
                        <md-list-item style='height: 48px;'>
                            <md-checkbox></md-checkbox>
                        </md-list-item>
                        <md-divider></md-divider>
                    </td>
                    <td>
                        <md-list-item>
                            {{players.jersey}}
                        </md-list-item>
                        <md-divider></md-divider>
                    </td>
                    <td>
                        <md-list-item>
                            {{players.fName}} {{players.lName}}
                        </md-list-item>
                        <md-divider></md-divider>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>
                    <td>
                        <md-list>
                            <md-list-item>
                                <input type='number' style='width: 40px;'>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </td>

                </md-list>
            </tr>
        </table>
    </md-dialog-content>
</md-dialog>