<div id="dashboard-menu">
    <h1>{{league_name}}</h1>

    <ul id="dashboard-menu-navigation">
        <li>
            <a href="#">Leagues</a>

            <ul>
                <li>
                    <a href="#">Registrations</a>
                </li>
                <li>
                    <a href="#">Player Management</a>
                </li>
                <li>
                    <a href="#">Content & Media</a>
                </li>
                <li>
                    <a href="#">Schedule Matches</a>
                </li>
                <li>
                    <a href="#">Scores & Statistics</a>
                </li>
                <li>
                    <a href="#">Manage Divisions</a>
                </li>
                <li>
                    <a href="#">Form Questions</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Sales</a>
        </li>
        <li>
            <a href="#">Account</a>
        </li>
        <li>
            <a href="#">Log Out</a>
        </li>
    </ul>
</div>