<nav ng-controller="Admin/NavigationController">
    <div class="left">
        <ul>
            <li ui-sref-active="active" ng-repeat="nav in navigation">
                <md-button ui-sref="{{nav.route}}" >{{nav.name}}</md-button>
            </li>
            <li class="separator mobile_hidden_959"></li>
            <!-- <li><md-button class="preview"><span style='color: white'>Preview</span></md-button></li> -->
            <li><md-button class="edit" ui-sref="logout"><span style='color: white'>Logout</span></md-button></li>
        </ul>
    </div>    
</nav>