<div class="row" layout="row">
    <div flex="100">
        <div class="fk-line no-margin">
            <p class="md-body tx">Create your list of questions. </p>
            <md-button ng-click="showModal($event, 'add-question')">Add Question</md-button>
        </div>
    </div>
</div>

<div class="row list-holder" layout="row">
    <div flex="100">
        <ul class="items">
            <li ng-repeat="i in range(0,3)">
                <div class="item">
                    <md-button class="md-fab delete-button"><md-icon>delete</md-icon></md-button>
                    <div class="info">
                        <p class="md-title">Medical Conditions</p>
                        <p class="md-subtitle">Do you have any medical conditons?</p>
                    </div>
                    <md-button class="md-fab edit-button"><md-icon>mode_edit</md-icon></md-button>
                </div>
            </li>
        </ul>
    </div>
</div>
