<header id="dashboardHeader" class="md-whiteframe-2dp">

    <div class="container">
        <div class="info">
            <h1 class="md-title league-title">Admin Panel</h1>
            <!-- <p class="md-body-1 league-subtitle">Admin Panel</p> -->
        </div>

        <div class="nav-bar" ng-include="logicTemplate('admin/layout/internal-nav-bar')"></div>
    </div>

</header>

<div class="container players-content">

    <md-content class="md-whiteframe-2dp">


        <!-- <div class="controls" layout="column" layout-gt-sm="row">
            <div class="filters" flex="100" flex-gt-sm="60" layout="row">
                <div class="select mobile_hidden_600">
                    <md-input-container>
                        <label style="display: none !important;">Teams</label>
                        <md-select ng-model="teamToFilter" ng-change="filterTeam()">
                            <md-option value="all">All teams</md-option>
                            <md-option value="{{team.id}}" ng-repeat="team in teams">{{team.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="search">
                    <md-input-container>
                        <label style="display: none !important;">Search</label>
                        <md-icon>search</md-icon>
                        <input type="text" ng-model="filters.search" placeholder="Search players">
                    </md-input-container>
                </div>
            </div>
            <div class="buttons mobile_hidden_600" flex="100" flex-gt-sm="40" layout-align="start center" layout-align-gt-sm="end center" layout="row">
                <md-button ng-click="addPlayer($event)"> <md-icon>person_add</md-icon> Add Player</md-button>
            </div>
        </div> -->

        <div class="">
            <md-list ng-cloak>
                <md-list-item class="" layout="row" style='background: white;border-bottom: 1px solid #eee;'>
                    <div class="inner" layout-xs="column" flex="100" layout-gt-sm="row">
                        <!-- <div class="player" layout="row" flex="100" flex-gt-sm="50"> -->
                            <!-- <md-checkbox class='checking_boxes' ng-model="selectAll" ng-click="checkAllPlayers()" aria-label="Select all players"></md-checkbox> -->
                            <!-- <p class="md-body-1 name">Id</p> -->
                        <!-- </div> -->
                        <div class="stand"  layout="row" flex="100" flex-gt-sm="50">
                            <div class="team mobile_hidden_600 mobile_hidden_959" flex="10">
                                <p class="md-body-1 info">Id</p>
                            </div>
                            <div class="team mobile_hidden_600 mobile_hidden_959" flex="25">
                                <p class="md-body-1 info">Name</p>
                            </div>

                            <div class="division mobile_hidden_600 mobile_hidden_959" flex="50">
                                <p class="md-body-1 info">Email</p>
                            </div>

                            <div class="division mobile_hidden_600 mobile_hidden_959" flex="25">
                                <p class="md-body-1 info">Phone</p>
                            </div>

                            <div class="division mobile_hidden_600 mobile_hidden_959" flex="50">
                                <p class="md-body-1 info">Comments</p>
                            </div>

                            <div class="payment-status mobile_hidden_600" flex="50" flex-md='50'>
                                <p class="md-body-1 info">Created At</p>
                            </div>
                        </div>
                    </div>
                </md-list-item>
 
                <md-list-item layout="row" ng-repeat="contact in contacts" style='border-bottom: 1px solid #eee;'>
                    <div class="inner" layout-xs="column" flex="100" layout-gt-sm="row">
                        <!-- <div class="player teams_table_name" layout="row" flex="100" flex-gt-sm="50"> -->
                            <!-- <md-checkbox class='checking_boxes' ng-model="selectAll" ng-click="checkAllPlayers()" aria-label="Select all players"></md-checkbox> -->
                            <!-- <p class="md-body-1 name team_name">{{ organization.id }}</p> -->
                            <!-- <p class="md-body-1 name team_name">{{ organization.name }}</p> -->
                        <!-- </div> -->

                        <div class="stand"  layout="row" flex="100" flex-gt-sm="50">
                            <div class="team teams_table_info mobile_hidden_600 mobile_hidden_959" flex="10" flex-md="15">
                                <p class="md-body-1 info">{{ contact.id }}</p>
                            </div>
                            <div class="team teams_table_info mobile_hidden_600 mobile_hidden_959" flex="25" flex-md="15">
                                <p class="md-body-1 info">{{ contact.name }}</p>
                            </div>

                            <div class="team teams_table_info mobile_hidden_600 mobile_hidden_959" flex="50" flex-md="50">
                                <p class="md-body-1 info">{{ contact.email }}</p>
                            </div>

                            <div class="team teams_table_info mobile_hidden_600" flex="25" flex-md="25">
                                <p class="md-body-1 info">{{ contact.phone }}</p>
                            </div>

                            <div class="team teams_table_info mobile_hidden_600" flex="50" flex-md="50">
                                <p class="md-body-1 info">{{ contact.comments }}</p>
                            </div>

                            <div class="team teams_table_info mobile_hidden_600" flex="50" flex-md="50">
                                <p class="md-body-1 info">{{ contact.date.date }}</p>
                            </div>
                        </div>
                    </div>
                </md-list-item>

                <md-list-item class="no-players" layout="row" ng-if="count(contacts) == 0">

                    <div class="message-error" flex="100">
                        <p class="md-body-1 name">No Contact Request Found</p>
                    </div>

                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>

