<md-dialog class='inspection_modals' id='edit_photo' aria-label='inspectPhoto'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Bulk Edit ({{ count(selected) }} Photo)</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>

        <form ng-submit='editBulkPhoto()'>

            <div ng-repeat  = "photo in photosBulk track by $index">
                        <div layout='row'>

                            <div layout='column' flex='5'></div>



                                <div layout='column' flex='90'>

                                        <input type="hidden" name='photoName' ng-model='photosToUpload[$index].photoName' ng-init = "photosToUpload[$index].photoName = photo.file_name"  value="{{ photo.file_name }}"required >


                                    <md-input-container class='modal_field' id='setDivision'>
                                        <label>Album</label>
                                        <md-select ng-model='photosToUpload[$index].album_id' aria-label='albumName'>
                                            <md-option ng-repeat='album in albums' value='{{album.id}}' ng-selected="album.id == photo.album_id">
                                                {{ album.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class='modal_field' id='setDivision'>
                                        <label>Games</label>
                                        <md-select ng-model='photosToUpload[$index].game_id' aria-label='game'>
                                            <md-option ng-repeat='game in games' value='{{game.id}}' ng-selected="game.id == photo.game_id">
                                                {{ game.date | carbonToMMM }} {{ game.date | dateFormat: "/" }}, {{ game.date | carbonToyyyy }} ( {{ game.home_team | limitString:true:5:'...' }} vs {{ game.visiting_team | limitString:true:5:'...'}} )
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class='modal_field' id='setTeam'>
                                        <label>Tag Team:</label>
                                        <md-chips ng-model="selectedTeams[$index]" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">

                                            <md-autocomplete md-selected-item="selectedItem[$index]" md-search-text="searchText" md-items="team in querySearch(searchText)" md-item-text="team.name" >
                                                <span md-highlight-text="searchText">{{team.name}}</span>
                                            </md-autocomplete>

                                            <md-chip-template>
                                                        <span>
                                                          <strong>{{$chip.name}}</strong>

                                                        </span>
                                            </md-chip-template>
                                        </md-chips>

                                    </md-input-container>
                                    <!-- <md-input-container></md-input-container> -->
                                    <md-input-container class='modal_field' id='setPlayer'>
                                        <label>Tag Player:</label>


                                            <md-chips ng-model="selectedPlayers" md-autocomplete-snap="" md-transform-chip="playerTransformChip($chip)" md-require-match="autocompletePlayerRequireMatch">
                                                <md-autocomplete md-selected-item="selectedPlayer[$index]" md-search-text="searchPlayer" md-items="player in playerSearchQuery(searchPlayer)" md-item-text="player.first_name" >
                                                    <span md-highlight-text="searchPlayer"> {{player.first_name}} {{player.last_name}} </span>
                                                </md-autocomplete>

                                                <md-chip-template>
                                                <span>
                                                    <strong>{{$chip.first_name}}</strong>
                                                    <strong>{{$chip.last_name}}</strong>
                                                </span>
                                                </md-chip-template>
                                            </md-chips>
                                        </md-chips>

                                    </md-input-container>
                                    <input type="hidden" name='photoId' ng-model='photosToUpload[$index].photoId'  ng-init="photosToUpload[$index].photoId = photo.id " aria-label='' >
                                    <input type="hidden" name='action' ng-model='photosToUpload[$index].action'  ng-init="photosToUpload[$index].action = 'edit' " aria-label='' >
                                </div>

                            <div layout='column' flex='5'></div>
                    </div>
                <div ng-show="!$last" class='custom_hr'></div>
            </div>


            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' type="submit">
                    Save Changes
                </md-button>
                <md-button class='modal_buttons left_button' ng-click="hide();">
                    Cancel
                </md-button>
            </div>

        </form>
    </md-dialog-content>
</md-dialog>

<style>
    #photo-to-edit {
        width : 200px;
        height : 200px;
    }
</style>