<md-dialog class='management_modals' aria-label='removeAlbum'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Delete Album</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>                   

        <form ng-submit='removePhotoAlbum()'>
            <!-- Division -->
            <div class='modal_info' layout='row'>
                <div layout='column' flex='5'></div>
                <div layout='column' flex='90'>
                    <md-input-container class='modal_field'>
                        <label>Album Name</label>

                        <input name='album_name' ng-model='data.album_name' ng-init="data.album_name= albumToRemove.name " value="albumToRemove.name">
                    </md-input-container>
                    <input type="hidden" name='league_id' ng-model='data.league_id' ng-init="data.league_id= leagueId " value="{{ leagueId }}" aria-label=''>
                    <input type="hidden" name='id' ng-model='data.id' ng-init="data.id= albumToRemove.id " value="{{ albumToRemove.id }}" aria-label=''>
                </div>
                <div layout='column' flex='5'></div>
            </div>

            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' type="submit">
                    Delete Album
                </md-button>
                <md-button class='modal_buttons left_button' ng-click="cancel();">
                    Cancel
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>