<md-dialog class='players_modals' aria-label='movePlayers'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Move Selected Team(s)</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>                   

        <form ng-submit='$event'>          
            <!-- Division -->
            <div class='modal_info' layout='row'>
                <div layout='column' flex='5'></div>
                <div layout='column' flex='90'>
                    <md-input-container class='modal_field' id='setDivision'>
                        <label>Division</label>
                        <md-select ng-model='divisionIdToMove' aria-label='divisionId'>
                            <md-option value="{{division.id}}" ng-repeat="division in divisions">
                                {{ division.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout='column' flex='5'></div>
            </div>
                            
            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' ng-click="moveTeamsInModal()">
                    Move Team(s)
                </md-button>                            
                <md-button class='modal_buttons left_button' ng-click="cancel();">
                    Cancel
                </md-button>   
            </div>
        </form>
    </md-dialog-content>
</md-dialog>