<md-dialog class='management_modals' aria-label='editCategory'>


    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Edit Category</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>

        <form ng-submit='editLabels()'>
            <!-- Division -->
            <div class='modal_info' layout='row'>
                <div layout='column' flex='5'></div>
                <div layout='column' flex='90'>

                    <md-input-container class='modal_field' id='editCategory'>
                        <label>Category Name</label>
                        <input name='label_name' ng-model='data.label_name' ng-init="data.label_name= labelToEdit.name " value="labelToEdit.name">
                    </md-input-container>

                    <input type="hidden" name='league_id' ng-model='data.league_id' ng-init="data.league_id= leagueId " value="{{ leagueId }}" aria-label=''>
                    <input type="hidden" name='id' ng-model='data.id' ng-init="data.id= labelToEdit.id " value="{{ labelToEdit.id }}" aria-label=''>
                </div>
                <div layout='column' flex='5'></div>
            </div>

            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' type="submit">
                    Save Changes
                </md-button>
                <md-button class='modal_buttons left_button' ng-click='closeModal()'>
                    Cancel
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>