<md-dialog class='inspection_modals' id='edit_photo' aria-label='inspectPhoto'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Bulk Edit ({{ count(selected) }} Photo)</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>

        <form  ng-submit="publishVideo()">
            <div ng-repeat = "movie in videoBulk track by $index" >
                <div layout='row'>
                    <div layout='column' flex='5'></div>
                        <div layout='column' flex='90'>

                        <md-input-container class='modal_field' id='setDivision'>
                            <label>Category</label>
                            <md-select ng-model='uploadVideo[$index].videoCategory' name="videoCategory" aria-label=''>
                                <md-option ng-repeat='label in labels' value='{{label.id}}' ng-selected = " label.id ==  videoToEdit.label_id">
                                    {{ label.name }}
                                </md-option>
                                <md-option ng-if='count(labels) == 0' value='1'>
                                    General
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class='modal_field' id='setGame'>
                            <label>Game</label>
                            <md-select ng-model='uploadVideo[$index].videoGame' name="videoGame" ng-selected = " game.id ==  movie.game_id" aria-label=''>
                                <md-option ng-repeat='game in games ' value='{{game.id}}'>
                                    {{ game.date | carbonToMMM }} {{ game.date | dateFormat: "/" }}, {{ game.date | carbonToyyyy }} ( {{ game.home_team | limitString:true:5:'...' }} vs {{ game.visiting_team | limitString:true:5:'...'}} )
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class='modal_field' id='setTeam'>
                            <label>Tag Team:</label>
                            <md-chips ng-model="selectedTeams[$index]"  md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">

                                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="team in querySearch(searchText)" md-item-text="team.name" >
                                    <span md-highlight-text="searchText">{{team.name}}</span>
                                </md-autocomplete>

                                <md-chip-template>
                                        <span>
                                          <strong>{{$chip.name}}</strong>
                                        </span>
                                </md-chip-template>
                            </md-chips>

                        </md-input-container>

                        <md-input-container class='modal_field' id='setPlayer'>
                            <label>Tag Player:</label>
                            <md-chips ng-model="selectedPlayers[$index]" md-autocomplete-snap="" md-transform-chip="playerTransformChip($chip)" md-require-match="autocompletePlayerRequireMatch">
                                <md-autocomplete md-selected-item="selectedPlayer" md-search-text="searchPlayer" md-items="player in playerSearchQuery(searchPlayer)" md-item-text="player.first_name" >
                                    <span md-highlight-text="searchPlayer"> {{player.first_name}} {{player.last_name}} </span>
                                </md-autocomplete>

                                <md-chip-template>
                                     <span>
                                         <strong>{{$chip.first_name}}</strong>
                                         <strong>{{$chip.last_name}}</strong>
                                     </span>
                                </md-chip-template>
                            </md-chips>

                        </md-input-container>

                            <input type="hidden" name='videoId' ng-model='uploadVideo[$index].videoId'  ng-init="uploadVideo[$index].videoId = movie.id " aria-label='' >

                        <input name='youTubeUrl' ng-model='uploadVideo[$index].youTubeUrl' ng-init="uploadVideo[$index].youTubeUrl = movie.youtube_video_src " value="movie.youtube_video_src"  aria-label=''>
                    </div>

                    <div layout='column' flex='5'></div>
                </div>


                <div class='custom_hr' ng-if = "!$last"></div>
            </div>

            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' type="submit" id="btn_submit">
                    Edit Video(s)
                </md-button>
                <!--ng-click="cancel();"-->
                <md-button class='modal_buttons left_button' id="btn_cancel" ng-click='closeModal()'>
                    Cancel
                </md-button>

            </div>

        </form>
    </md-dialog-content>
</md-dialog>

<style>
    #photo-to-edit {
        width : 200px;
        height : 200px;
    }
</style>