<style>
    
.md-scroll-mask{
    display:none!important;
}
</style>

<div class="header-container page-anim" ui-view="header" id="header" ng-controller="HeaderControllerLogin">
    <div id="primaryHeader" class="md-whiteframe-2dp">
        <md-toolbar style='height: 64px;'>
            <div class="desktop tablet">
                <div class="left">
                    <div class="content-inner">
                        <a href="/" class="" style="float: left;" >
                            <img style="height: 75px; padding-left: 30px;" ng-src="{{asset('img/landings/logo-v2.png')}}" alt="Wooter">
                        </a>
                        <p style="float: left; padding: 20px 20px;">
                            <a href="/">
                                <img style="height: 15px;width: 120px;" ng-src="{{asset('img/landings/logo_text.png')}}" alt="Wooter Logo">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="right">

					<style>
						
        .signup_button {
          background: #EF5350;
          padding: 10px 15px;
          color: white;
          border-radius: 5px; }

		.signin_button{
			background: transparent;
			color: white;
		}

        .signup_button:hover {
          color: white; }

					</style>

                    <div class="box pad-left border-left" style='width: 230px;'>
				
					<div style='margin-left: 10px;'>
						     	<md-button md-no-ink style='border-bottom: none!important;'><a class='signin_button' href="/#/login">SIGN IN</a></md-button>
			     	 <md-button md-no-ink style='border-bottom: none!important;'><a class='signup_button' href="/#/register">SIGN UP</a></md-button>		
					</div>
	
			    


                    </div>
                    <div class="box" ng-repeat="(key, value) in menu.items"
                         style="margin: 0 15px;">
                         <md-menu md-offset="0 72px">
                            <md-button style='border-bottom: none!important;' ng-click="showMenu($mdOpenMenu, $event)" class="mdm" aria-label="{{ capitalize(key) }}">{{ capitalize(key) }} <md-icon class="material-icons" aria-label="dropdown">arrow_drop_down</md-icon></md-button>
                            <md-menu-content class="min-width-180 header-dd-menu">
                                <md-menu-item ng-repeat="(k, v) in value"><md-button href="{{ v.url }}">{{ v.text }}</md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <md-button class="md-icon-button" ng-click="showMobileMenu()"><md-icon aria-label="Open menu" >menu</md-icon></md-button>
                <span class="middle-container"><a ui-sref="index" class="brand"><img style='height: 48px;' ng-src="{{asset('img/landings/logo-v2.png')}}" alt="Wooter"></a></span>
            </div>
        </md-toolbar>
    </div>
</div>

