<md-dialog class='addplayer_MODAL players_modals' aria-label='addPlayer' style='min-width: 400px;'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Edit Player</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>

        <form ng-submit='$event'>

            <div class='modal_info' layout='row'>
                <div layout='column' flex='5'></div>
                <div layout='column' flex='90'>
                    <md-input-container class='modal_field' id='addPlayerJersey'>
                        <label>Jersey Number</label>
                        <input name='playerJersey' ng-model='playerToEdit.player_info.jersey' type="numeric" mask="999" clean="true" class="ng-valid-mask" required>
                    </md-input-container>
                </div>
                <div layout='column' flex='5'>
                </div>
            </div>

            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' ng-click="editPlayerInModal(playerToEdit)">
                    Edit Player
                </md-button>
                <md-button class='modal_buttons left_button' ng-click="cancel();">
                    Cancel
                </md-button>
            </div>

        </form>
    </md-dialog-content>
</md-dialog>