<md-dialog class='players_modals' aria-label='addTeam'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Move Player to team</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>                   

        <form ng-submit='$event'>          

            <div class='modal_info' layout='row'>
                <div layout='column' flex='5'></div>
                <div layout='column' flex='90'>
                    <md-input-container class='modal_field' id='teamToMove'>
                        <label>Team</label>
                        <md-select ng-model='teamIdToMove' aria-label='teamToMove'>
                            <md-option value='{{team.id}}' ng-repeat='team in teams'>
                                {{team.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout='column' flex='5'></div>
            </div>

            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button ng-if="teamIdToMove" class='modal_buttons right_button' ng-click="movePlayerInModal(playerToMove)">
                    Move Player
                </md-button>                            
                <md-button class='modal_buttons left_button' ng-click="cancel();">
                    Cancel
                </md-button>   
            </div>
        </form>
    </md-dialog-content>
</md-dialog>