<md-dialog class='players_modals' aria-label='addTeam'>
    <md-dialog-content>

        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Are you sure you want to remove {{playerToDelete.first_name}} {{playerToDelete.last_name}}?</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>                   

        <form ng-submit='$event'>          
            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' ng-click="removePlayerInModal(playerToDelete)">
                    Remove Player
                </md-button>                            
                <md-button class='modal_buttons left_button' ng-click="cancel();">
                    Cancel
                </md-button>   
            </div>
        </form>
    </md-dialog-content>
</md-dialog>