<md-dialog class='inspection_modals' aria-label='createMatch' style='min-width: 600px;' id="addVideoModal">
    <md-dialog-content>
        <!-- Header -->
        <div class='modal_header' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90'>
                <h4>Add Videos(s)</h4>
            </div>
            <div layout='column' flex='5'></div>
        </div>


        <div class='modal_drag' layout='row'>
            <div layout='column' flex='5'></div>
            <div layout='column' flex='90' class='drag_center'>
                <form method='post' action='api/leagues/1/videos' enctype='multipart/form-data' novalidate class='box'>
                    <div class='box__input boxes'>
                        <input type='file' name='video[]' id='file' class='box__file' data-multiple-caption='{count} files selected' multiple />
                        <label for='file' class='raised'><img style='width: 100%;' src='../img/dashboard/select_videos.png' /></label>
                        <input type="hidden" name="league_id" value="{{ leagueId }}">
                        <p style="color: #989898; font-size: 12px; text-align: center; width: 100%; margin-bottom: 5px;"><span>or</span></p>
                        <p style="color: #989898; text-align: center; font-size: 14px; width: 100%;">Drag & Drop</p>
                        </div>
                    </form>
                </div>
            <div layout='column' flex='5'></div>
        </div>

        <div class='custom_hr'></div>
        
        <form name="uploadForm" ng-submit="publishVideo()">
            <div ng-repeat = "movie in movies track by $index" >
                <div layout='row'>
                    <div layout='column' flex='5'></div>

                    <div layout='column' flex='40'>
                        <video width="233" height="150" controls id="myVideo" class='add_thumbnails'>
                            <source src="{{ movie.file_path}}" type="{{ movie.mime_type}}">
                        </video>
                    </div>

                    <div layout='column' flex='50'>
                        <md-input-container class='modal_field' id='addTeamName'>
                            <label>Title</label>
                            <input name='videoName' ng-model='uploadVideo[$index].videoName' required >
                        </md-input-container>
                        <md-input-container class='modal_field' id='setDivision'>
                            <label>Category</label>
                            <md-select ng-model='uploadVideo[$index].videoCategory' name="videoCategory" aria-label=''>
                                <md-option ng-repeat='label in labels' value='{{label.id}}'>
                                    {{ label.name }}
                                </md-option>
                                <md-option ng-if='count(labels) == 0' value='1'>
                                  General
                                </md-option>
                            </md-select>
                        </md-input-container>



                        <md-input-container class='modal_field' id='setGame'>
                            <label>Game</label>
                            <md-select ng-model='uploadVideo[$index].videoGame' name="videoGame" aria-label=''>
                                <md-option ng-repeat='game in leagues.loadLeagueGames() ' value='{{game.id}}'>
                                    {{ game.home_team }}_{{ game.visiting_team }}_{{ game.datetime | dateFormat: " " }}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class='modal_field hide' id='videoID'>

                            <input type="hidden" name='videoId' ng-model='uploadVideo[$index].videoId'  ng-init="uploadVideo[$index].videoId = movie.id " aria-label='' >
                        </md-input-container>
                    </div>

                    <div layout='column' flex='5'></div>
                </div>
                <div class='custom_hr' ng-if = "!$last"></div>
            </div>
            <!-- buttons -->
            <div class='modal_button_div'>
                <md-button class='modal_buttons right_button' type="submit">
                    Add Video(s)
                </md-button>
                <md-button class='modal_buttons left_button' ng-click="closeModal();">
                    Cancel
                </md-button>
            </div>

            </form>
    </md-dialog-content>
</md-dialog>

